@import url(https://fonts.googleapis.com/css?family=Merriweather);

 
.content-int{
 padding: 	30px 10px 10px 10px;
  width: 80%;
  min-height: 785px;
   font-size: 16px;
   margin-bottom:25px;
}


.content-int > h1:first-child, .h1TitPage, .content-med > h1:first-child  {
      color: #21A4D7;  
       font-weight: bold;
         font-family: 'Merriweather', serif !important;
         border-bottom: 1px solid;
         padding-bottom:6px;
}

.content-int > h1:first-child > span:first-child, .h1TitPage > span:first-child , .content-med > h1:first-child > span:first-child  {
     
              font-weight: 100;
              font-size: 28px;
              
}


.content-int, .content-right, .content-med {
  display:  inline-block;
  position: relative;
  vertical-align: top;
}


 
.content-med{
 padding: 	30px 10px 10px 10px;
  width: 48%;
  min-height: 785px;
   font-size: 16px;
   margin-bottom:25px;
}


.conten.content-medt-int > h1:first-child, .h1TitPage{
      color: #21A4D7;  
        font-style: italic; 
         font-family: 'Merriweather', serif !important;
}


.content-right {
 width: 19%; 
}



.content-right::before, .content-right::after{
  content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    z-index: -1;
}

.content-right .content-links, .content-links {
 
 bottom:0; 
 left: 0;
 right:0;
}

.nav-rightlinks {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.content-links > div:first-child {
 background:  rgba(33, 164, 215, 0.8) none repeat scroll 0 0;
 box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.3);
 margin: 0 auto;
 padding: 30px 0 0 0;
}

.nav-rightlinks li::before{
   content: "y"; 
      font-family: "ventanillasiconfont";
    font-size: 18px;
    left: 0;
    position: absolute;
    top: 6px;
    color: #4DB6DF;
}

.nav-rightlinks li:hover::before{
   
    color: #fff !important;
}

.nav-rightlinks li {
    border-bottom: 1px solid #A7A6A6;
    border-left: 3px solid transparent;
    padding-left: 10px;
    position: relative;
}

.nav-rightlinks li:last-child {
    border-bottom: 0 none;
}
.nav-rightlinks li:hover {
    background: #21A4D7 none repeat scroll 0 0;
    border-left: 3px solid #177194 ;
  
}

.nav-rightlinks li a  {
    color: #282828;
    display: block;
    line-height: 20px;
    padding: 8px 10px;
}
.nav-rightlinks li a:hover  {
   color: #fff;
}



.content-li-desc > ul li{
  
  font-weight: bold;
  padding: 8px 0;
   line-height:32px;
   font-size:16px;
}
.content-li-desc  ul p{
  
   padding: 0 0 0 20px;
}

.content-int p{
   text-align: justify;
 line-height:24px;
}

.content-int ul > li {
    padding-left: 1.3em ;
   list-style: outside none none;
}
 

.content-int ul > li:before { 
  content: "x"; 
      font-family: "ventanillasiconfont";
    font-size: inherit;
    left: 0; 
    top: 6px;
    margin: 3px;
    color: #7D99AA;
}


.questions{
   padding-top: 15px;
}

.questions p:nth-child(odd) {
   line-height:30px;
      font-size:16px;
      padding-left: 20px; 
}

.questions p:nth-child(even) {
  
      padding-left: 10px; 
}

.questions > ul li {
  
  padding: 10px 0;
   line-height:24px;
      
}

 .content-listaenlaces > p.titulolista,  p.titulolista
 {
   text-align: justify;
   font-size: 18px;
    font-weight: bold;
   padding-top: 30px;
   padding-bottom: 5px;
    text-transform:  uppercase;
 }
 
 .content-lista {
   min-height: 200px;
     
 }
 
  .content-lista > p.subtitulolista, p.subtitulolista
 {
   text-align: justify;
   font-size: 16px;
    font-style: italic; 
    padding-left:  5px;
  
 }
 
  .lilista li {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding: 8px 0;
    text-align: justify;
 
}

 .content-lista > p.titulolista, p.titulolista
 {
   text-align: justify;
   font-size: 18px;
    font-weight: bold;
   padding-top: 30px;
   padding-bottom: 5px;
 }
 
  .content-lista > p.subtitulolista, p.subtitulolista
 {
   text-align: justify;
   font-size: 16px;
    font-style: italic;
    padding-left:  5px;
  
 }
 
.content-videos {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content-videos > div.video  {
   margin: 5px auto;
   width: 420px;
   height: 315px; 
}

 

.caja { 
	margin: 5px;
	padding: 5px; 
  width: 100%;
}
 .cajaP { 
	margin: 5px;
	padding: 5px; 
  width: 40%;
}

 .cajaM { 
	margin: 5px;
	padding: 5px; 
  width: 70%;
}

legend > span.req
{
  color: #DF0101;
}

.img-center{
  
  margin:  auto;
}

.img-left { 
    float: left; 
    margin-right: 12px;
}


.img-right {
  
    float: right;
    margin-left: 12px;
   
}

.img-centersb{
  
  margin:  auto;
}

.img-leftsb { 
    float: left; 
    margin-right: 12px;
}


.img-rightsb {
  
    float: right;
    margin-left: 12px;
   
}

.img-center, .img-left, .img-right  {
   border: 1px solid #9DBDC9;
    
}

.enlaces{
  display: table;
}

.enlaces > li {
  display: block;
  float: left; 
}

.imgx{
    background: url("../img/abuso_drogas.jpg");
    width:85px;
    height: 88px;
   content: " ";
}
.content-acceso{
  width: 150px;
  height: 200px;
   float: left;
}

div.content-enlaces{
 width: 100%  ;
 min-height: 785px;
 margin-top:30px;
}

.content-acceso > a span:first-child i{
   font-size: 50px;
    padding: 8px 16px; 
   background: #fff none repeat scroll 0 0;
   
    border:2px solid #df3a01;
    color : #DF3A01;
    border-radius: 50%;
    margin-left: 32px;
}

.content-acceso > a span:first-child i:hover{
background: #DF3A01 none repeat scroll 0 0;
 
    color : #fff;
    
}

.content-acceso > a span:last-child {
    display: block;
    line-height: 28px;
     padding-top: 15px ;
    text-align: center;
    font-size: 12px;
	font-weight:bold;
    color: #000;
}

 