@import url(https://fonts.googleapis.com/css?family=Merriweather);

 #container{
	 max-width: 980px;
	 
	   background: #ffffff none repeat scroll 0 0;
	   margin: 0 auto ;
	   padding-top: 106px ;
	  
 }

.content-int{
 padding: 	30px 10px 10px 10px;
  width: 80%;
  min-height: 785px;
}

.content-int > h1:first-child, .h1TitPage{
      color: #21A4D7;  
        font-style: italic; 
         font-family: 'Merriweather', serif !important;
}

.content-int, .content-right {
  display:  inline-block;
  position: relative;
  vertical-align: top;
}

.content-right {
 width: 19%; 
}

.content-right::before, .content-right::after{
  content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    z-index: -1;
}

.content-right .content-links {
 
 bottom:0;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 left: 0;
 right:0;
}

.nav-rightlinks {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.content-links > div:first-child {
 background:  rgba(33, 164, 215, 0.8) none repeat scroll 0 0;
 box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.3);
 margin: 0 auto;
 padding: 30px 0 0 0;
}

.nav-rightlinks li::before{
   content: "v"; 
      font-family: "ventanillasiconfont";
    font-size: 18px;
    left: 0;
    position: absolute;
    top: 8px;
    color: #282828;
}

.nav-rightlinks li:hover::before{
   
    color: #21A4D7 !important;
}

.nav-rightlinks li {
    border-bottom: 1px solid #f2f2f2;
    border-left: 3px solid transparent;
    padding-left: 10px;
    position: relative;
}

.nav-rightlinks li:last-child {
    border-bottom: 0 none;
}
.nav-rightlinks li:hover {
    background: #BDBDBD none repeat scroll 0 0;
    border-left: 5px solid #21A4D7;
}

.nav-rightlinks li a  {
    color: #282828;
    display: block;
    line-height: 20px;
    padding: 8px 10px;
}

.content-li-desc > ul li{
  
  font-weight: bold;
  padding: 8px 0;
   line-height:32px;
   font-size:16px;
}
.content-li-desc  ul p{
  
   padding: 0 0 0 20px;
}

.content-int p{
   text-align: justify;
 line-height:24px;
}

.questions{
   padding-top: 15px;
}

.questions p:nth-child(odd) {
   line-height:30px;
      font-size:16px;
      padding-left: 20px; 
}

.questions p:nth-child(even) {
  
      padding-left: 10px; 
}

.questions > ul li {
  
  padding: 10px 0;
   line-height:24px;
      
}

 .content-listaenlaces > p.titulolista
 {
   text-align: justify;
   font-size: 18px;
    font-weight: bold;
   padding-top: 30px;
   padding-bottom: 5px;
    text-transform:  uppercase;
 }
 
 .content-lista {
   min-height: 200px;
     
 }
 
  .content-lista > p.subtitulolista
 {
   text-align: justify;
   font-size: 16px;
    font-style: italic; 
    padding-left:  5px;
  
 }
 
  .lilista li {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding: 8px 0;
    text-align: justify;
 
}

 .content-lista > p.titulolista
 {
   text-align: justify;
   font-size: 18px;
    font-weight: bold;
   padding-top: 30px;
   padding-bottom: 5px;
 }
 
  .content-lista > p.subtitulolista
 {
   text-align: justify;
   font-size: 16px;
    font-style: italic;
    padding-left:  5px;
  
 }
 
  .lilista li {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding: 8px 0;
    text-align: justify;
 
}

.content-videos {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content-videos > div.video  {
   margin: 5px auto;
   width: 420px;
   height: 315px; 
}

 