
@import url(https://fonts.googleapis.com/css?family=Merriweather);
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

header .barra {
    background: #222b34;
    color: #fff;
    height: 35px;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
    max-width: 1980px;
}


#search_lenguage {
    display: inline-block;
    margin-left: 45%;
    z-index: 99999;
}

.search {
    min-width: 210px;
}

.searchbox {
    background: #222b34;
    border: 1px solid #222b34;
    color: #fff;
    width: 150px;
}

.search .btn:hover,
.search .btn:focus,
.search .btn.focus {
    color: #21A4D7;
    text-decoration: none;
}

.search, .lenguage, .searchbox, .btn-search {
    display: inline-block;
}


.btn-search {
    width: 32px;
    height: 32px;
    background-image: url("../img/lupa.png");
}

.lenguage {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-left: 1px solid gray;
    width: 220px;
    vertical-align: middle;
    background: #222b34;
}

    .lenguage li {
        float: left;
        padding: 5px;
    }

    .lenguage .espanol {
        background: #CE2B06;
    }

    .lenguage .ingles {
        background: #1C5EC1;
    }

    .lenguage .ingles, .lenguage .espanol {
        min-width: 60px;
        min-height: 30px;
        vertical-align: middle;
        text-align: center;
    }

@media (max-width: 373px) {

    .searchbox {
        width: 100px !important;
    }

    .search {
        min-width: 132px !important;
    }

    .lenguage {
        font-size: 10pt !important;
    }

    .lenguage {
        width: 180px !important;
    }

        .lenguage .ingles, .lenguage .espanol {
            min-width: 40px;
        }
        
          .welcome h2 { 
         width: 90% !important; 
    }
}


@media (max-width: 767px) {

    #search_lenguage {
        margin-left: 0;
    }

    .lenguage {
        width: 200px;
    }

    .searchbox {
        width: 100px;
        font-size: 10pt;
    }

    .search {
        min-width: 140px;
    }

    .footer-element {
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 100% !important;
    }

    .footerPeople {
        width: 113px !important;
        background-image: url("../img/monitos_footer_mini.png") !important;
        margin-left: 30%;
        margin-top: 5px !important;
        height: 71px !important;
    }

    .footerAbout {
        width: 350px !important;
    }


    .box-note {
        display: block;
        width: 100%;
    }

    .access {
        margin-top: 60px !important;
        margin-left: 15%;
    }

    .banners {
        width: 40% !important;
    }

        .banners a {
            margin: 15px 0 !important;
        }
        
          .welcome h2 { 
         width: 60% !important; 
    }


.box-note > div:first-child{ 
      margin-left:0 !important;
      width: 37% !important;
      
}

}

@media (min-width: 768px) {
    .box-note {
        width: 33.33%;
        float: left;
    }
}

.content-mosaic {
    width: 100%;
    min-height: 180px;
    position: relative;
}

.box-note {
    min-height: 180px;
}

.gris {
    background: #3e3e3e;
}

.azul {
    background: #5E86C4;
}

.naranja {
    background: #CA4526;
}

.box-note .icon {
    width: 48%;
    font-size: 10pt;
    float: left;
}

.box-note .note {
    width: 60%;
    float: right;
    height: 100%;
}



.box-note h2 {
    font-size: 1.5em !important;
    color: #E6E6E6;
}

.box-note > div:first-child{
     float: left;
      min-height: 180px;
      width: 27%;
      margin-left:10%;
}
.box-note .note > a   {
   text-decoration: none;
}

.box-note .note > a p:nth-child(1) {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}

.box-note .note > a span:nth-child(2) {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    border: 2px  solid #fff;
    padding: 5px;  
    position: absolute;
    display: block;
    bottom: 15px;
    margin-left: 13%;
    
}
 .eslogan{  
     bottom: 35%;
     position: absolute;
      margin: 0 auto;
      left: 30%;
      text-align: center;
      width: 35%;
      font-family: 'Merriweather', serif !important;
      color: #fff;
     
 }
 
  .eslogan > span:nth-child(1){
      font-size: 1.7em; 
      display: table;
       margin: 0 auto;
       font-style:  italic;
  }
 
   .eslogan> span:nth-child(2){
      font-size: 1em; 
       border-bottom:  1px solid #CA4526;
           display: table;
            margin: 0 auto;
  }
 
.imgIS{
     background: url(../img/familia.png) no-repeat;
}
.imgMex{
     background: url(../img/mapa_estadosunidos.png) no-repeat;
}
.imgEU{
     background: url(../img/mapa_mexico.png) no-repeat;
}

.content2 {
    width: 100%;
    min-height: 1000px;
}


.welcome {
    max-width: 1220px;
    margin: 0 auto;
    min-height: 300px;
}

    .welcome h2 {
        color: #21A4D7;
        text-align: center;
         width: 30%;
        margin: 35px auto;
        font-style: italic;
    }

    .welcome > p:nth-child(3) {
        text-align: justify;
        font-size: 1.3em;
        padding: 15px;
    }
    
     .welcome > p:nth-child(4) {
        text-align: center;
        font-size: 1.2em;
        padding: 15px;
    }

.welcome .vineta{
    background:url(../img/vineta.png);
     width: 184px;
     height: 19px;
     margin:  0 auto;
}

.shortcut {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 33px;
    min-height: 400px;
}

.access {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin-right: 4%;
    margin-top: 30px;
    min-height: 264px;
    position: relative;
    vertical-align: top;
    min-width: 250px;
    max-width: 350px;  
    
}

.access.img1{
     background: url(../img/foto1.jpg) ;   
}

.access.img2{
     background: url(../img/foto2.jpg) ;   
}

.access.img3{
     background: url(../img/foto3.jpg) ;   
}


.content {
    
   background:  rgba(34, 43, 52, 0.5);
   width: 100%;
    min-height: 264px;
}

  .access .content > div {
        display: block;
        position: absolute;
        text-decoration: none;
        top: -50px;
        width: 100%;
    }

        .access .content > div span:first-child::before {
            left: -19px;
        }

        .access  .content > div span:first-child::before, .access > div span:first-child::after {
            background: #FFFFFF none repeat scroll 0 0;
            content: "";
            height: 5px;
            position: absolute;
            top: 54px;
        }

        .access .content > div span:first-child::after {
            right: -19px;
        }

    .access .content:nth-child(odd) > div span:first-child, .access .content:nth-child(even) > div span:first-child {
        border: 1px solid #fff;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
        background: #fff;
        color: #21A4D7;
        border-radius: 50%;
        width: 85px;
        height: 85px;
    }

    .access .content > div span:first-child {
        background: #eeeff1 none repeat scroll 0 0;
        margin: 0 auto;
        position: relative;
        width: 112px;
    }

    .access .content span {
        display: block;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
    }

    .access .content > div span:first-child i {
        display: block;
        font-size: 45px;
        padding: 40px 12px;
    }

    .access .content > div span:last-child {
        color: #E0E0E0;
        display: block;
        font-size: 20px;
        line-height: 28px;
        padding: 16px 24px;
        text-align: center;
    }

    .access .content span.description {
        padding: 140px 10px 20px;
        color: #fff;
        font-size: 9pt;
         text-align: justify;
    }

    .access .content > a {
        display: block;
        position: absolute;
        text-decoration: none;
        width: 100%;
        bottom: 0;
    }

    .access .content:nth-child(odd) > a span:first-child,
    .access .content:nth-child(even) > a span:first-child {
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
        background: #fff;
        color: #424242;
        width: 30px;
        height: 25px;
        float: right;
        padding-top: 5px;
    }

    .access .content > a span:nth-child(2) {
        visibility: hidden;
        display: inline-block !important;
    }

    .access .content > a span:nth-child(1) {
        font-size: 1.5em;
    }

    .access .content > a span:first-child:hover > span {
        visibility: visible;
        line-height: 5px;
    }

    .access .content > a span:first-child:hover > i {
        visibility: hidden;
    }

    .access .content> a span:first-child:hover {
        color: #CE2B06;
        width: 60%;
        height: 30px;
    }

.banners {
    margin: 0 auto;
    width: 600px;
    padding-top: 100px;
    padding-bottom: 100px;
}

    .banners a {
        display: inline-block;
        margin: 0 5px;
    }

        .banners a img {
            width: 100%;
        }

.footer {
    background: #222b34;
    min-height: 182px;
    max-width: 1980px;
}

.footerAbout, .footerContac {
    height: 153px;
}

.footer-content {
    min-height: 164px;
    margin-left: auto;
    margin-right: auto;
}


    .footer-content > div:first-child {
        margin-left: 28%;
    }

.footer-element {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100%;
}

.footerPeople {
    width: 213px;
    background-image: url("../img/monitos_footer.png");
    background-repeat: no-repeat;
    float: left;
    margin-top: 10px;
    height: 134px;
}

.footerAbout {
    width: 300px;
    float: left;
    padding-right: 15px;
    padding-left: 10px;
}

    .footerAbout h3 {
        text-align: center;
        color: #fff;
        font-size: 10pt;
        font-weight: bold;
    }

    .footerAbout p {
        text-align: justify;
        color: #fff;
        font-size: 10pt;
    }

.footerContact {
    width: 350px;
    float: left;
    padding-left: 15px;
}

    .footerContact h3 {
        text-align: center;
        color: #fff;
        font-size: 10pt;
        font-weight: bold;
    }

    .footerContact table {
        border: none;
        margin-top: 20px;
        font-size: 0.8em;
        color: #fff;
    }

        .footerContact table tbody tr .thizq {
            text-align: left;
            min-width: 80px;
        }

        .footerContact table .title {
            text-align: center;
            font-size: 10pt;
        }

        .footerContact table .icon {
            color: #21A4D7;
            font-size: 11pt;
        }

.footer-copyright {
    text-align: center;
    background: #21A4D7 none repeat scroll 0% 0%;
    width: 100%;
    height: 32px;
    color: #fff;
    display: inline-block;
}
